ul {
  padding-inline-start: 0px;
}

.app {
  width: 50%;
  height: auto;
  border: 1px solid gray;
}

.input_field {
  display: inline;
}

.toDoItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.toDoItem:first-child {
  border-top: 1px solid lightgray;
}

.checkbox {
  width: 30px;
}

.deleteButton {
  width: 90px;
}

.toDoItem_text {
  width: 300px;
}

.inputForm {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 0px 0px;
  margin-top: 15px;
}

.app > .mdl-card__title {
  background-color: #607D8B;
  color: #fff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  height: 100px;
}
